body{
    background-color: aqua;
}
.pro1{
    color: burlywood;
}
.ans1{
    background-color: crimson;
    color: crimson;
}
.pro2{
    color: burlywood;
}
.ans2{
    color: crimson;
}
.pro3{
    color: burlywood;
}
.ans3{
    color: crimson;
}
.pro4{
    color: burlywood;
}
.ans4{
    color: crimson;
}