body{
    background-color: aqua;
}
#pro1{
    color:blue;
}
#ans1{
    
    color: crimson;
}
#pro2{
    color:blue;
}
#ans2{
    color: crimson;
}
#pro3{
    color:blue;
}
#ans3{
    color: crimson;
}
#pro4{
    color:blue;
}
#ans4{
    color: crimson;
}