#one{
position: absolute;
color:blue;
width: 20px;
height:20px;


}
#two{
    position: absolut;
    color: brown;
    width:20px;
    height:20px;

}
#im{
    position: absolute;
    width:20px;
    height:30px;
}